* {
  margin: 0;
  padding: 0;
  ::-webkit-scrollbar {
    display: none;
  }
}

html {
  height: 100%;
  width: 100%;
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body {
  background: #181818;
  color: white;
}

nav {
  padding: 0.6rem 0;
  font-size: 1.1rem;
  top: 0;
  z-index: 1000;
  width: 100%;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-li {
  margin-left: 2rem;
  transition: ease-in-out 0.3s;
  color: white;
}

.nav-li:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 99);
  cursor: pointer;
}

#nav-logo {
  width: 50px;
  height: 52px;
}

main {
  position: relative;
  overflow: hidden;
}

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 0.5rem 0;
  background-color: #181818;
  Z-index: 1000;
}

footer a {
  display: flex;
}

.social {
  width: 15px;
  height: 15px;
  padding: 5px;
  border-radius: 5px;
  background: #fefefe;
  transition: ease-in-out 0.3s;
}

.social:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 400ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}

@media (max-width: 1300px) {
  nav {
    display: flex;
    justify-content: center;
    padding: 4px 0;
    font-size: 0.8rem;
  }

  .nav-li {
    margin-left: 0;
    padding: 0 15px;
  }

  #nav-logo {
    width: 36px;
    height: 38px;
  }

  footer {
    font-size: 0.7rem;
  }
}
