.contact {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../assets/images/contact.jpg");
  background-size: cover;
  background-position: center;
}

.contact-button {
  width: 90px;
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  margin: 30px;
  border: 2px solid #fefefe;
  color: #fefefe;
  font-size: 20px;
  transition: 0.3s;
}

.contact-button::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - -2px);
  background-color: #181818;
  transition: 0.3s ease-out;
  transform: scaleY(1);
}

.contact-button::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - 50px);
  background-color: #181818;
  transition: 0.3s ease-out;
  transform: scaleY(1);
}

.contact-button:hover::before {
  transform: translateY(-25px);
  height: 0;
}

.contact-button:hover::after {
  transform: scaleX(0);
  transition-delay: 0.15s;
}

.contact-button:hover {
  border: 2px solid #fefefe;
}

.contact-button span {
  position: relative;
  z-index: 3;
}

a {
  text-decoration: none;
  color: goldenrod;
}

.contact-me {
  font-size: 1.2rem;
}

@media (max-width: 1300px) {

  .contact h1 {
    font-size: 1rem;
  }

  .contact-button {
    padding: 10px 25px;
    margin: 20px;
    font-size: 15px;
  }

  .contact-me {
    width: 300px;
    text-align: center;
    font-size: 12px;
  }
}
