.home {
  position: relative;
  height: 90vh;
  width: 100%;
  overflow: hidden;
}

.background-image-home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/home1.jpg");
  background-size: cover;
  background-position: center;
}

.text {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: white;
  text-align: left;
  padding-bottom: 5rem;
}

.home-title {
  font-size: 4rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.home-sub {
  font-size: 1.5rem;
  margin-top: 1rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background: white;
  color: #181818;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  max-width: 500px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.modal-content a {
  text-decoration: none;
  color: goldenrod;
}

.modal-content h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.modal-content button {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.modal-content button:hover {
  background-color: #333;
}

@media (max-width: 1300px) {
  .home {
    height: 90vh;
    width: 100%;
    overflow: hidden;
  }

  .text {
    left: 0;
    right: 0;
    width: 100%;
    color: white;
    text-align: center;
  }

  .home-title {
    font-size: 1.8rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    margin-left: 30px;
    margin-right: 30px;
  }
  .home-sub {
    font-size: 0.9rem;
    margin-top: 1rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    margin-left: 30px;
    margin-right: 30px;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    font-size: 0.8rem;
  }

  .modal-content {
    background: white;
    color: #181818;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    max-width: 300px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    margin-left: 20px;
    margin-right: 20px;
  }

  .modal-content button {
    padding: 5px 15px;
    cursor: pointer;
    margin-top: 15px;
  }
}
