.models {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #181818;
}

.slider-wrapper {
  width: 65%;
  height: 60%;
  display: flex;
  justify-content: center;
}

.slide-title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  z-index: 1000;
}

.slide-title img {
  height: 42px;
}

.box img {
  height: 100%;
  width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  padding: 15px;
  color: white !important;
  transition: ease-in-out 0.3s;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  transform: scale(1.1);
}

.desc {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  font-size: 1.1rem;
  padding: 0.9rem;
}

@media screen and (max-width: 1300px) {

  .slide-title img {
    height: 30px;
  }

  .slider-wrapper {
    width: 85%;
    height: 45%;
    align-items: center;
  }

  .desc {
    text-align: center;
    font-size: 0.5rem;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }

  .slide-title img {
    height: 18px;
  }
}