.models {
  position: relative;
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #181818;
}

.slider-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.slider-wrapper {
  position: absolute;
  width: 100%;
}

.slide-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  max-width: 90%;
  z-index: 1;
}

.slide-item {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: ease-in-out 0.3s;
  margin-top: 4%;
  object-fit: cover;
}

.box {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.9);
}

.swiper-button-prev,
.swiper-button-next {
  background-color: #181818;
  border-radius: 5px;
  padding: 15px;
  color: white !important;
  transition: ease-in-out 0.3s;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  transform: scale(1.1);
}

.desc {
  position: fixed;
  bottom: 0;
  margin-bottom: 3rem;
  margin-left: 3rem;
  font-size: 1.1rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  padding: 0.7rem;
  color: white;
  background-color: #181818;
  z-index: 1000;
}

@media (min-width: 1301px) {
  .card {
    display: none;
  }

  .card2 {
    display: none;
  }

  .card3 {
    display: none;
  }

  .cards {
    display: none;
  }
}

@media (max-width: 1300px) {
  .models {
    position: relative;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #181818;
  }

  .slider-container {
    display: none;
  }

  .cards {
    align-content: center;
    font-size: 0.8rem;
  }

  .card {
    width: 350px;
    height: 146px;
    background-color: #181818;
    background-image: url("../assets/images/hmob.jpg");
    border-radius: 5px;
    color: white;
    overflow: hidden;
    position: relative;
    perspective: 1000px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    cursor: pointer;
    background-repeat: no-repeat;
    margin-bottom: 10%;
  }

  .card2 {
    width: 350px;
    height: 146px;
    background-color: #181818;
    background-image: url("../assets/images/rmob.jpg");
    border-radius: 5px;
    color: white;
    overflow: hidden;
    position: relative;
    perspective: 1000px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    cursor: pointer;
    background-repeat: no-repeat;
    margin-bottom: 10%;
  }

  .card3 {
    width: 350px;
    height: 146px;
    background-color: #181818;
    background-image: url("../assets/images/umob.jpg");
    border-radius: 5px;
    color: white;
    overflow: hidden;
    position: relative;
    perspective: 1000px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    cursor: pointer;
    background-repeat: no-repeat;
    margin-bottom: 15%;
  }

  .card-content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: end;
    text-align: center;
    height: 100%;
  }

  .card-content .card-title {
    font-size: 24px;
    font-weight: 700;
    color: inherit;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
}
