.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  ::-webkit-scrollbar {
    display: none;
  }
}

body {
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
}

#nav {
  color: black;
  padding-top: 0.6rem;
  padding-bottom: 0.6em;
  font-size: 1.1rem;
}

#nav-ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-li {
  padding-left: 2rem;
}

.nav-li:hover {
  color: #ff5017;
}

.nav-logo {
  width: 38px;
  height: 40px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-item {
  display: flex;
  justify-content: center;
  object-fit: cover;
  width: 50rem;
  height: 80%;
}
